APP_NAME=Addventure
NODE_ENV=development
PORT=8000
APP_URL=http://localhost:8000
FRONTEND_URL=

MONGODB_URI=mongodb://127.0.0.1:27017/addventure

DEFAULT_CURRENCY=USD
PLATFORM_ADMIN_ID=

JWT_SECRET=
JWT_EXPIRES_IN=90d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT=
GOOGLE_MAP_KEY=

FB_CLIENT_ID=
FB_CLIENT_SECRET=
FB_CALLBACK_REDIRECTS=

STRIPE_KEY=
STRIPE_SECRET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=
PUSHER_HOST=
PUSHER_PORT=
PUSHER_SCHEME=https

FIREBASE_CREDENTIALS=
FIREBASE_PROJECT_ID=add-venture-e9504

MAILGUN_SECRET=
MAILGUN_DOMAIN=mailbox.add-venture.co
MAILGUN_ENDPOINT=https://api.mailgun.net
MAIL_FROM_ADDRESS=no-reply@addventure.co
MAIL_FROM_NAME=Addventure

TICKETMASTER_ENABLED=false
TICKETMASTER_API_KEY=